<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<h1><%= t(:stock_index_title) %></h1>

<ol>
  <% @taxons.each do |taxon| %>
  <li>
    <%= taxon.name %>
    <ul>
      <% taxon.children.each do |sub| %>
        <li><%= link_to sub.name, stock_show_admin_products_path(sub) %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ol>
